*.log
*.pyc
*.py~
venv/*
.tox/*
build/
dist/
packagepoa.egg-info
.coverage
tmp/*
!tmp/.keepme
tests/tmp/*
!tests/tmp/.keepme
output_dir/*
!output_dir/.keepme
tests/ftp_dir/*
!tests/ftp_dir/.keepme
decapitate_pdf_dir/*
!decapitate_pdf_dir/.keepme
tests/decapitate_pdf_dir/*
!tests/decapitate_pdf_dir/.keepme